<h1>Add new job</h1>

<form action="/job/new" method="post">

    {{#if errors }}
        <ul class="alert alert-danger">
            {{#each errors }}
            <li>{{ this.msg }}</li>
            {{/each }}
        </ul>
    {{/if }}

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" placeholder="Job Name or Title">
    </div>

    <div class="form-group">
        <label for="application_link">Application Link</label>
        <input type="text" name="application_link" class="form-control" placeholder="Application Link (URL)">
    </div>

    <div class="form-group">
        <label for="job_type">Job Type</label>
        <input type="text" name="job_type" class="form-control" placeholder="Job Type (ex. frontend, backend, full-stack, etc.)">
    </div>

    <div class="form-group">
        <label for="language">Language or Stack</label>
        <input type="text" name="language" class="form-control" placeholder="Language or Stack">
    </div>

    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea name="notes" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>